/* * {
    overflow-y: hidden;
} */

.bg-main-color {
    background-color: #2f318b;
}
.yellow-color {
    color: #fdd100;
}
.bg-yellow-table {
    background-color: #f9fa83;
}
.bg-blue-table {
    background-color: #6c6ea8;
}
.btn-images {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.h-screen {
    height: 100vh;
    overflow: hidden;
}
@media (max-width: 990px) {
    /* Footer */
    .logo-footer .logodishub {
        width: 100%;
    }
    /* Footer */
}
@media (max-width: 768px) {
    /* home */
    .menu {
        gap: 12px;
    }
    .menu .bg-main-color {
        width: 20%;
    }
    .row a p {
        font-size: 12px;
    }
    .jadwal {
        font-size: 20px;
    }
    .ganti-shift {
        font-size: 12px;
    }
    /* home */

    /* Footer */
    .logoapps {
        width: 40%;
    }
    .logo-footer .logodishub {
        width: 50%;
    }
    .desc {
        font-size: 12px;
    }
    .contact {
        font-size: 16px;
    }
    /* Footer */

    /* Responsive Font */
    .RfTitle {
        font-size: 3vw;
    }
    .RfContent {
        font-size: 2vw;
    }
    /* Responsive Font */
}
@media (max-width: 578px) {
    /* home */
    .profile-img {
        width: 100%;
    }
    .menu .bg-main-color {
        width: 45%;
    }
    /* home */
}
@media (max-width: 458px) {
    /* home */
    .profile {
        width: 50%;
    }
    .profile-img {
        width: 80%;
    }
    .col-nama {
        width: 50%;
    }
    .role {
        font-size: 12px;
    }
    .logout {
        display: none;
    }
    .jadwal {
        font-size: 16px;
    }
    .col-lg-6 .ganti-shift {
        font-size: 10px;
    }
    table thead tr .bulan {
        font-size: 12px;
    }
    table thead tr .title-table {
        font-size: 12px;
    }
    table tbody tr .isi-table {
        font-size: 12px;
    }
    /* home */

    /* Responsive Font */
    .RfTitle {
        font-size: 16px;
    }
    .RfContent {
        font-size: 12px;
    }
    /* Responsive Font */
}

/* Styling untuk form */
.custom-file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.custom-file-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-file-preview {
    width: 250px;
    height: 400px;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
